.sfondohero img {
    width: 100vw;
}
/*
img:active {
    object-fit: contain;
    position: fixed;
    max-width: 80vw;
    max-height: 80vw;
    height: 80%;
    width: auto;
    margin: auto auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.25);
}


@media (max-width:600px) {
    img:active {
        object-fit: contain;
        position: static;
        max-width: 100%;
        max-height: auto;
        height: auto;
        width: 100%;
        margin: 0 0;
        top: auto;
        left: auto;
        transform: none;
    }
}
*/