<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stile.css">
    <title>Document</title>
</head>
<body>
    <header>
        <p>Visioni Illustrate</p>
        <nav>
            <ul>
                <li><a href="#slide-1">Home</a></li>
                <li><a href="#slide-2">Artisti</a></li>
                <li><a href="#slide-3">Info Utili</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>